<div class="container"><div class="row">
    <div class="jumbotron">
      <h1>Hello, User!</h1>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">This is a Node todo App</a></p>
    </div>
</div></div>
